{% extends 'base.html' %}

{% block content %}
<div id="browserBox" class="browserBox">
    <div css="pathBar">
    {% for entry in pathObj %}
        {% set dir = entry['dir'] %}
        {% set lnk = '?path='+entry['lnk'] %}
        <div onclick="location.href='{{ lnk }}';">{{ dir }}/</div>
    {% endfor %}
        <button onclick="location.href='/mkdir?path={{ virtPath }}';">mkdir</button>    
        <button onclick="location.href='/zip/upload?path={{ virtPath }}';">upload zip</button>
        <button onclick="location.href='/file/upload?path={{ virtPath }}';">upload</button>
    </div>

    <div css="exploreBox">
    {% for entry in dirObj %}

        {% set type = entry['type'] %}
        {% set path = entry['path'] %}
        {% set lnk = '?path='+entry['lnk'] %}

        {% set lnkPath = virtPath+'/'+entry['path'] %}
        {% if virtPath == '/' %}
            {% set lnkPath = virtPath+entry['path'] %}
        {% endif %}

        {% if type == 'dir' %}
            <div css="{{ type }}" oncontextmenu="data_menu_call(event, 'dir');" lnk="{{ lnk }}" onclick="location.href='{{ lnk }}';">{{ path }}</div>
        {% endif %}
        {% if type == 'file' %}
            <div css="{{ type }}" oncontextmenu="data_menu_call(event, 'file');" lnk="{{ lnk }}" onclick="">{{ path }}</div>
        {% endif %}

    {% endfor %}
    </div>

</div>
{% endblock %}


